@import url(//db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:"Acumin",sans-serif;
}

body {
background-color: rgb(34, 40, 49);
}


a {
    text-decoration: none;
}
.menu ul {
    display: flex;
    justify-content: flex-end;
    margin: -10px 90px;
}
.menu ul li {
    list-style: none;
    margin-right: 100px;
    margin: -85px 50px;
}
.menu ul li a {
    color:rgb(243, 243, 243);
    text-decoration: none;
    font-size: 1.3em;
}

.menu ul li a:hover {
    color: rgb(193, 165, 123);
}
.navbar {
    margin-top: -8px;
    }
    .navbar .brand {
        display: flex;
        margin: 35px 10px;
    }
.logo {
        width: 100px;
        height: 100px;
    }

    .section .container-info {
        width: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 2rem;
    }

    section .banner{
        background-image: url(/IMG/maple-1079235__480.webp);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        padding: 8rem;
    
    }

    .banner .info{
        width: 100%;
        margin-top: 15px;
        color: rgb(243,243,243);
        text-align: center;
    }
    
    .banner .info h1{
        font-size: 70px;
        margin-top: 180px;
        padding: -20px;
        
        }
        
        


.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
}

.card:hover .cover img{
    top: 0px;
    filter: none;
    -webkit-filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../IMG/v1jpg.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(../IMG/v1jpg.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(../IMG/v1jpg.jpg);
}


.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -ms-border-radius: 0px 0px 20px 20px;
    -o-border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
margin-top: 10px;

}


.card .description input{
    padding: 10px  40px;
    margin-top: 20px;
    border: none;
    background-color: violet;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}
.card .description input:hover{
    background: #832277;
}



.out-products {
    background-color: #222831;
    height: 800PX;
}